{% load static %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Accréditation</h4>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-vcenter">
            {% for accreditation in accreditations %}
            <tr>
                <td>
                    <a href="{% url 'accreditation:edit_accreditation' accreditation.name %}" class="btn btn-sm btn-outline-secondary">
                        {{accreditation.name}}
                      </a>
                </td>
                <td class="w-100">
                    <a href="#" class="text-reset">{{accreditation.title}}</a>
                </td>
                <td class="w-10">
                    <a href="#" class="text-reset">{{accreditation.coordinator.last_name}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>